.contact-form{
//float: right;
width: 500px;
height: 100%;
border: 1px solid lightgrey;
}


.contacts1{
 width: 500px;
// height: 300px;
  
  float: right;
  margin-right: 50px;
  margin-top: 120px;
  
}

.contact-form{
 // float: right;
  margin-left: 700px;
  margin-bottom: 0px; 
  position: relative;
  top: -210px;
 
}

.intro, .intro1{
  color:white;
}

.my-info{
  color:white;
}

.intro1:hover{
  text-decoration: none;
  //background-color: #e6b800;
  
}